<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/card-feed.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <script src="/javascripts/viewHandler.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/partials/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/card.css" />
</head>
<!-- TODO: Add back initBrowser(); -->
<body onload="initDatabase();">
<header>
    <%- include('./partials/nav.html'); %>
</header>

<div class="container" id="cards-container">
    <% cardList.forEach( (card) => { %>
        <div class="row">
            <div class="col-sm">
                <div class="card" id=<%=card.id%>>
                    <img class="card-img" src="/images/cathedral.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title"><%= card.title %></h3>
                        <p class="card-text" id="id"><%= card.description %></p>
                        <div class="row">
                            <div class="col-5">
                                <input class="text_input" id='<%=card.id+"username_input"%>' type="text" placeholder="Enter Username">
                            </div>
                            <div class="col-4">
                                <input class="text_input" id='<%=card.id+"room_input"%>' type="text" placeholder="Enter Room Number">
                            </div>
                            <div class="col-3">
                                <button class="btn btn-primary" id="connect" onclick="connectToRoomPage('<%= card.id %>')">Connect</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }); %>
</div>
<div id="room-container" style="display: none">
    <%- include('./partials/room.ejs'); %>
</div>
<div id="insert-container" style="display: none">
    <%- include('./partials/insert.ejs'); %>
</div>
</body>
</html>
