<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/news-feed.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <script src="/javascripts/database.js" type="module"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/partials/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/card.css" />
</head>
<body onload="init()">
<header>
    <%- include('./partials/nav.html'); %>
</header>

<% cardList.forEach( (card) => { %>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="card" id=<%=card.id%>>
                    <img class="card-img" src="/images/cathedral.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h3 class="card-title"><%= card.title %></h3>
                        <p class="card-text" id="id">Hello World!</p>
                        <div class="row">
                            <div class="room-form">
                                <input class="room_input" id='<%=card.id+"room_input"%>' type="text" placeholder="Enter Room Number">
                                <button class="btn btn-primary" id="connect" onclick="connectToRoomPage('<%= card.id %>')">Connect</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<% }); %>

</body>
</html>
