<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/javascripts/comment.js"></script>
    <script src="/javascripts/canvas.js"></script>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" />
    <link rel="stylesheet" href="/stylesheets/card.css" />
</head>
<body onload="init()">

<% cardList.forEach( (card) => { %>
    <div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <div class="card" id=<%=card.roomNo%>>
                    <img class="card-img" src="/images/cathedral.jpg" alt="Card image cap">
                    <div class="card-body">
                    <h5 class="card-title"><%= card.title %></h5>
                        <p class="card-text" id="roomNo">Hello World!</p>
                        <div class="comment-box">
                            <input id='<%=card.roomNo+"comment_input"%>' type="text" placeholder="Enter Comment">
                            <button  class="btn btn-primary" onclick=sendChatText('<%= card.roomNo%>',"Example")>Comment</button>
                        </div>
                        <div style="height: 10vh" class="boxed scrolling" id=<%=card.roomNo+"history"%>></div>
                    </div>
                </div>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>
<% }); %>

</body>
</html>
